# 表示文件行尾自动转换. 如果是文本文件, 则添加进Git时, 自动转换成LF. 如果文件已经存在Git中, 再修改时, 不会进行转换.
*         text=auto

# 对于bat文件, 标记为文本文件, 添加进Git时, 转换成LF; 检出时, 转换成CRLF.
*.bat     text eol=crlf

# 对于rst文件, 标记为文本文件. 添加后全部转换成LF, 检出时同样保持LF.
*.rst     text eol=lf
*.sh      text eol=lf

# 对于py文件, 只针对工作目录中的文件, 包括行尾为LF.
*.py      eol=lf

# 对于png文件, 标记为非文本文件, 不进行任何转换.
*.png     -text
*.jpg     -text
